<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REST Note</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://jeraldjoemagno11.000webhostapp.com/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="top">
<main class="hoc container clear">
    <div class="content">
    </div>
    <div class="clear"></div>
    <div style="text-align:center">
        <img src="https://i0.wp.com/mydevgeek.com/wp-content/uploads/2017/02/spring-boot-project-logo.png?resize=300%2C300"/>
        <h1 style="font-size: 50px;" th:text="${status}"></h1>
        <h2 style="font-size: 40px;" th:text="${error}"></h2>
        <h3 th:text="${message}"></h3>
    </div>
</main>

</body>
</html>


