<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>REST Note</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://jeraldjoemagno11.000webhostapp.com/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="top">
<main class="hoc container clear">
    <div class="content">
        <a th:href="@{/index}"><h1 class = "left" style = "font-weight: bold">Notes</h1></a>
        <form method="GET" th:action="@{/index/find}">

            <input style="position:absolute;right:170px;color:black;" th:name="search" type="text"/>
            <input value="Search" style="position:absolute;right:95px;color:black;" type="submit"/>
        </form>
        <div class="scrollable">
            <a class = "btn" href = "#" style = "margin-bottom: 10px; border-radius: 2%" data-toggle = "modal" data-target = "#addNote">Add</a></h2>
            <form method="GET" th:action = @{/index/filter}>
            <select th:name="sort" style="position:absolute;right:135px;color:black;top:160px">
                <option>Sort</option>
                <option value = "datecreated asc">Date Created Ascending</option>
                <option value = "datecreated desc">Date Created Descending</option>
                <option value = "dateupdated asc">Date Updated Ascending</option>
                <option value = "dateupdated desc">Date Updated Descending</option>
                <option value = "important asc">Important Ascending</option>
                <option value = "important desc">Important Descending</option>
            </select>
            <input value="Go" style="position:absolute;right:95px;color:black;top:160px" type="submit"/>
            </form>
            <div id = "addNote" class = "modal fade" role = "dialog">
                <div class = "modal-dialog">
                    <div class = "modal-content">
                        <div class = "modal-header">
                            <button class = "close" data-dismiss = "modal">&times;</button>
                            <p style = "font-weight: bold;color:black;">Add Note</p>
                        </div>
                        <form th:action ="@{/index}" th:object="${noteForm}" method="POST" enctype="multipart/form-data">
                            <div class = "modal-body">
                                <div class = "form-group">
                                    <label style="color:black;">Title</label>
                                    <input class = "form-control" type = "text" th:field="*{noteTitle}">
                                </div>
                                <div class = "form-group">
                                    <label style="color:black;">Content</label>
                                    <input class = "form-control" type = "text" th:field="*{noteContent}">
                                </div>
                                <div class = "form-group">
                                    <label style="color:black;">Important?</label>
                                    <select th:field="*{isNoteImportant}" id="important" style="color:black;">
                                        <option value = "true">Important</option>
                                        <option value="false" >Not Important</option>
                                    </select>
                                </div>
                                <div class = "form-group" style="color:#cccccc;">
                                    <input type="file"th:field="*{uploadedPicture}" accept="image/*">
                                </div>
                                <div class = "form-group">
                                </div>
                            </div>
                            <div class = "modal-footer" style="color:blue;">
                                <input type="submit" id="addNotes" value="Add Note">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="clear"></div>
</main>

<div class="col-sm-4 col-xs-12" th:each = "noteModel : ${note}">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <a th:href="@{/index/delete/{noteId}(noteId=${noteModel.noteId})}"><button type="button"  class = "close" ><span class="glyphicon glyphicon-trash" ></span></button></a>
            <h1 id="theNoteTitle" th:utext="${noteModel.noteTitle}"></h1>
            <h5 th:if="${noteModel.noteImportant} == 'Important Note'" style="color:red;" th:text="${noteModel.noteImportant}"></h5>
        </div>
        <img style="width: 40%;" th:src="${noteModel.encodedPicture}">
        <div class="panel-body" style="color:black;">

            <p><h3 id="theNoteContent" th:utext="${noteModel.noteContent}"></h3></p>
        </div>

        <div class="panel-footer" style="color:black;">
            <p>Date Created:</p><p th:utext="${noteModel.noteCreateDate}"></p>
            <p>Date Updated:</p><p th:utext="${noteModel.noteUpdateDate}"></p>
        </div>
    </div>
</div>


</body>
</html>

